/* App-Wide Styling */

body {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
}

.checked {
    color: orange;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Homepage Styling */

.carousel-item {
    height: 600px;
}

.home-p {
    text-align: center;
}

/* Navigation Bar Styling */

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;    
}

.nav-link:hover {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;  
}

.nav-brand {
    font-family: 'Cutive Mono', monospace;
    font-size: 25px;
}

/* User Ratings Styling */

.user-rating-card {
    display: flex;
    width: 25rem;
}