/* App-Wide Styling */

body {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
}

.checked {
    color: #FFB83D;
    text-shadow: 0 0 10px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Homepage Styling */

.carousel-item {
    height: 600px;
}

.home-p {
    text-align: center;
}

.roboto-button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* Choose Restaurant Styling */

.choose-rest-bg {
    background-image: url('/static/img/chooserestbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.choose-rest-h2 {
    color: white; 
}

.choose-card {
    min-width: 100;
}

/* Choose Trail Styling */

.choose-trail-bg {
    background-image: url('/static/img/choosetrailbg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Navigation Bar Styling */

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;    
}

.nav-link:hover {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;  
}

.nav-brand {
    font-family: 'Cutive Mono', monospace;
    font-size: 2rem;
}

/* User Ratings Styling */

.user-card {
    display: flex;
    width: 25rem;
}

.card-text {
    font-size: 1rem;
    padding: .3rem;
    font-family: 'Roboto', 'sans-serif';
    font-weight: bold;
    letter-spacing: .03rem;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253);
}

.card-date {
    font-size: .9rem; 
    padding: .7rem;
}

.card-img-top {
    width: 25rem;
    height: 10rem;
    object-fit: cover;
}

.card-title {
    padding: .5rem;
    font-family: 'Cutive Mono', monospace;
}

.checked.rating-star {
    color: #FFB83D;
    text-shadow: 0 0 10px;
    padding: .3rem; 
}

.rating-link {
    color: black;
}

.rating-link:hover {
    text-decoration: none;
    color: #17a2b8;
}