.checked {
    color: orange;
}

body {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
}

.carousel-item {
    height: 600px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-display {
    display: flex;
    width: 25rem;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;    
}


.nav-link:hover {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;  
}

.nav-brand {
    font-family: 'Cutive Mono', monospace;
    font-size: 25px;
}


.home-p {
    text-align: center;
}