<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="utf-8">

  <!-- Loading React dependencies. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.js" 
  integrity="sha512-LOOlcIrzggklo15g/pbJis06755L5SZYg2RZEUw7t8k/aALW/atg2qg6h8oSLIvk25ulbzhz/p4LH2PUYa+rLw==" 
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

  <script
  src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
  crossorigin></script>

  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
  /> 

  <script>
  const { useEffect, useState } = React;
  const { NavLink, useHistory, Route, useParams, Redirect, Switch, Prompt, Link, HashRouter, BrowserRouter } = ReactRouterDOM;
  const { Accordion, Button, Card, Form } = ReactBootstrap;
  </script>

  <!-- Link to CSS: -->
  <link href="/static/css/app.css" rel="stylesheet">

  <title>Take a Walk</title>
</head>

<body>

  <div id="app"></div>
  <script src="/static/js/PageNotFound.jsx" type="text/jsx"></script>
  <script src="/static/js/Login.jsx" type="text/jsx"></script>
  <script src="/static/js/Register.jsx" type="text/jsx"></script>
  <script src="/static/js/Trails.jsx" type="text/jsx"></script>
  <script src="/static/js/Weather.jsx" type="text/jsx"></script>
  <script src="/static/js/UserRatings.jsx" type="text/jsx"></script>
  <script src="/static/js/RestRating.jsx" type="text/jsx"></script>
  <script src="/static/js/TrailRating.jsx" type="text/jsx"></script>
  <script src="/static/js/Itinerary.jsx" type="text/jsx"></script>
  <script src="/static/js/SavedWalks.jsx" type="text/jsx"></script>
  <script src="/static/js/ChooseRestaurants.jsx" type="text/jsx"></script>
  <script src="/static/js/ChooseTrails.jsx" type="text/jsx"></script>
  <script src="/static/js/NewWalk.jsx" type="text/jsx"></script>
  <script src="/static/js/Homepage.jsx" type="text/jsx"></script>
  <script src="/static/js/Nav.jsx" type="text/jsx"></script>
  <script src="/static/js/App.jsx" type="text/jsx"></script>
  <script src="/static/js/Index.jsx" type="text/jsx"></script>

</body>
</html>
