<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="utf-8">

  <!-- Loading React dependencies. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.js" 
  integrity="sha512-LOOlcIrzggklo15g/pbJis06755L5SZYg2RZEUw7t8k/aALW/atg2qg6h8oSLIvk25ulbzhz/p4LH2PUYa+rLw==" 
  crossorigin="anonymous"></script>

  <script>
  const { useEffect, useState } = React;
  const { NavLink, useHistory, Route, useParams, Redirect, Switch, Prompt, Link, HashRouter, BrowserRouter } = ReactRouterDOM;
  </script>

  <!-- Link to CSS: -->
  <link href="/static/css/app.css" rel="stylesheet">

  <title>Take a Walk</title>
</head>

<body>

  <div id="app"></div>
  <script src="/static/js/homepage.jsx" type="text/jsx"></script>
  <script src="/static/js/nav.jsx" type="text/jsx"></script>
  <script src="/static/js/login.jsx" type="text/jsx"></script>
  <script src="/static/js/register.jsx" type="text/jsx"></script>
  <script src="/static/js/restaurants.jsx" type="text/jsx"></script>
  <script src="/static/js/trails.jsx" type="text/jsx"></script>
  <script src="/static/js/new-walk.jsx" type="text/jsx"></script>
  <script src="/static/js/app.jsx" type="text/jsx"></script>
  <script src="/static/js/index.jsx" type="text/jsx"></script>

</body>
</html>
